
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;

}


html {
	background-color: white;
}


body {
	font-family: Arial, Helvetica, sans-serif;

	font-size: 100%;

	width: 800px;

	margin: 0 auto;
	border: 3px solid #931420;

	background-color: #fffded;
}

header {
	border-bottom: 3px solid #931420;
	background: linear-gradient(30deg, #f6bb73 0%, white 30%, white 50%, white 80%, #f6bb73 100%);
	padding-top: 1.5em;
	padding-bottom: 2em;

}

header h2,
header h3 {
	text-indent: 0;
	padding-right: 30px;
	padding-left: 30px;
}
main {

}

main h1 {
	border-top: 3px solid #931420;
	border-bottom: 3px solid #931420;
}
main h2 {

	padding-top: 0;
	padding-bottom: .25em;
}

main h3 {
	font-size:105%;
	padding-bottom: .25em;
}

main img {
	padding-bottom: 1em;
	margin-top: 5px;
	margin-bottom: 5px;
}

main p {
	padding-bottom: .5em;
}

main blockquote {
	padding-right: 2em;
	padding-left: 2em;
}

section {
	width: 525px;
	height:fit-content;
	float: right;

}

aside {
	padding-left:20px;
	padding-right:20px;

}

article {
	border: none;
}

aside h3 {
	font-size:105%;
	padding-bottom: 25px;
}

aside img {
	bottom-padding:1em;
}







article img {
	float:right;
	margin: 10px;
	border:10px black;
}


ul {
	padding-bottom: .25em;
	padding-left: 1.25em;
}

li {
	padding-bottom: .35em;
}

blockquote {
	font-style: italic;
}


footer p {
	padding-top: 1em;
	padding-bottom: 1em;
	clear: both;
	background-color: #931420;
	height: fit-content;
	color: white;
}




